body {
    background-color: #39a9cb;
}
#container {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #ffeda3;
    border:none;
    color: #232323;
    font-family: 'Dancing Script', cursive;
}
#pictures {
    width: 500px;
}